
.img1 {
    background-image: url('images/COURSESBG.png');
}
.img1current {
    background-image: url('images/BLACKBOARDBG.png');
}

.imgbg:hover {
    filter: opacity(80%);
    transition: 0.5s;
}

.img2 {
    background-image: url('images/ALUMNIBG.png');
}
.img2current {
    background-image: url('images/TIMETABLEBG.png');
}
.img3 {
    background-image: url('images/NEWSBG.png');
}
.img3current {
    background-image: url('images/EMAILBG.png');
}

.img4 {
    background-image: url('images/STAFFSBG.png');
}
.img4current {
    background-image: url('images/SOFTWARE2BG.png');
}

.img5 {
    background-image: url('images/VISITBG.png');
}
.img5current {
    background-image: url('images/ONEDRIVEBG.png');
}


.img6 {
    background-image: url('images/APPLYBG.png');
}
.img6current {
    background-image: url('images/LABBG.png');
}

.img7{
    background-image: url('images/staffslecture.JPG');
}
.img7bg{
    background-image: url('images/LIBRARYBG.PNG');
}
